*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Raleway', sans-serif;
    /* height: 900px; */
}
.container{
    position: relative;
    display: grid;
    grid-template-rows: repeat(5, 100vh) 30px;
}


/*                      Header               */
header{
    background-image: url(img/2.jpg);
    background-position: 92% 0%;
    background-size: 1000px;
    background-repeat: no-repeat;
}
header h2{
    font-size: 1.7em;
    font-weight: 600;
    padding: 65px 15px;
    line-height: 40px;
    letter-spacing: 2px;
    color: #10122b;
    text-shadow: 0 0 5px rgba(16, 18, 43,0.4);
}
header h2 span{
    font-weight: 700;
    font-size: 1.3em;
    letter-spacing: 0px;
}


/*                  Header - Navbar           */
nav{
    position: fixed;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.8s;
}
.logo h1{
    /* color: white; */
    font-weight: 600;
    font-size: 1.2em;
    letter-spacing: 2px;
}
.the-ul{
    position: absolute;
    list-style: none;
    right: 0;
    top: 10vh;
    height: 90vh;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transform: translateX(100%);
    transition: 0.8s;
    background-color: rgba(220, 168, 65, 0.7);
}
.the-ul li{
    opacity: 0;
    height: 100px;
}
.the-ul li a{
    /* color: white; */
    text-decoration: none;
    font-size: 0.9em;
    font-weight: 600;
}
.ul-slide{
    transform: translateX(0%);
}



/*      Animation    */
@keyframes liSlide{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}



/*                  Navbar - Burger              */
.burger{
    display: flex;
    flex-direction: column;
    cursor: pointer;
}
.burger span{
    width: 27px;
    height: 3px;
    margin: 2.5px;
    background-color: black;
    transition: 0.7s;
}
.burger span:nth-child(1){
    transform-origin: 0 0;
}
.burger span:nth-child(3){
    transform-origin: 0 100%;
}





/*              Container  -      Main                 */
main, 
.achievement,
.about{
    background-image: url(img/main.jpg);
    background-position: 38% 0%;
    background-size: 1000px;
    background-repeat: no-repeat;
    display: grid;
}
.paragraph, 
.paragraph-achievement,
.paragraph-about{
    display: grid;
    row-gap: 10px;
    width: 70%;
    height: 37%;
    place-content: end;
    justify-self: right;
    place-items: center;
    text-align: center;
    padding-left: 40px;
}
.paragraph h1,
.paragraph-achievement h1,
.paragraph-about h1{
    font-size: 1.7em;
    color: black;
    text-shadow: 0 0 10px rgba(255, 255, 255, 1);
}
.paragraph a,
.paragraph-achievement a,
.paragraph-about a,
.contact a{
    text-decoration: none;
    background-color: #546e62;
    color: white;
    width: 40%;
    padding: 5px 0;
    border-radius: 30px;
    transition: 0.5s;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}
.paragraph a:hover{
    background-color: #88a598;
}



/*          Container  -        Achievements              */
.achievement{
    background-image: url(img/achievement.jpg);
    background-position: 38% 0%;
    background-size: 550px;
}
.paragraph-achievement{
    width: 60%;
    height: 26%;
    justify-self: left;
    padding: 0;
}
.paragraph-achievement a{
    background-color: #0c67ad;
    width: 60%;
}
.paragraph-achievement a:hover{
    background-color: #3a91d3;
}


/*          Container  -        About              */
.about{
    background-image: url(img/about.jpg);
    background-position: 40% 0%;
    background-size: 550px;
}
.paragraph-about{
    width: 60%;
    height: 20%;
    justify-self: center;
    padding: 0;
}
.paragraph-about a{
    background-color: #6e6879;
    width: 60%;
}
.paragraph-about a:hover{
    background-color: #afabb8;
}



/*          Container  -    Contact              */
.contact{
    text-align: center;
    margin: auto;
    display: grid;
    row-gap: 10px;
}
.contact h1 span{
    font-size: 0.8em;
    font-weight: 600;
}
.contact a{
    place-self: center;
    background-color: black;
    color: white;
    border: 1px solid black;
    transition: 0.5s;
}
.contact a:hover{
    background-color: white;
    color: black;
}

/*              Footer               */
footer{
    text-align: center;
    /* background-color: gray; */
    display: grid;
}
footer p{
    font-size: 0.8em;
    place-self: center;
}



/*          Responsive  -   Breakpoints              */

@media (min-width: 768px){
    .container{
        grid-template-rows: repeat(5, 100vh) 30px;
    }
    header{
        background-size: 1500px;
    }
    header h2{
        display: grid;
        width: 60%;
        font-size: 2em;
        padding: 0 20px;
        line-height: 60px;
        place-content: end;
        height: 290px;
    }
    nav{
        position: fixed;
        width: 100%;
        padding: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .logo h1{
        font-weight: 600;
        font-size: 1.2em;
        letter-spacing: 2px;
    }
    .the-ul{
        position: inherit;
        top: 2.2%;
        width: 65%;
        height: 30px;
        background-color: inherit;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        transform: translateX(0%);
    }
    .the-ul li{
        opacity: 1;
    }
    .the-ul li a{
        color: black;
    }
    .the-ul li a:hover{
        color: white;
    }
    .burger{
        display: none;
    }
    /*              Container  -      Main                 */
    main{
        background-size: 1500px;
    }
    .paragraph{
        padding-right: 20px;
    }
    .paragraph h1,
    .paragraph-achievement h1,
    .paragraph-about h1{
        text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    }
    /*          Container  -        Achievements              */
    .achievement{
        background-position: 38% 100%;
        background-size: 1000px;
    }
    .paragraph-achievement{
        width: 45%;
        height: 20%;
    }
    /*          Container  -        About              */
    .about{
        background-size: 1000px;
    }
    .paragraph-about{
        width: 30%;
    }
    /*          Container  -    Contact              */
    .contact h1{
        font-size: 2.7em;
    }
    .contact a{
        width: 25%;
    }
}